---
// Redirection statique vers la langue par défaut
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/fr/" />
    <link rel="canonical" href="/fr/" />
  </head>
  <body></body>
</html>
